body {
	font-family: Arial;
	background-color: #FFF;
    font-size: 16px;
    font-weight: lighter; 
    border: none;
    margin: 0; 
    overflow: hidden;    
}

button {
    background-color: #FF8600;
	font-family: Arial;
    font-weight: bold;
    font-size: 16px;
    color: #FFF;
	text-align: center;
    text-decoration: none;
    border: none;
    padding: 10px 15px 10px 15px;
}

.msg_box_banner {
    background-color: #FF8600;
	font-family: Arial;
    font-weight: bold;
    font-size: 16px;
    color: #FFF;
	text-align: center;
    vertical-align: central;
    text-decoration: none;
    border: none;
    padding: 10px;
}

.msg_box_message {
    text-align: center;
    vertical-align: central;
    text-decoration: none;
    border: none;
    padding: 10px
}

button:hover:enabled {
    background-color: #FF6000;
}
button:disabled {  
    background-color: #909090;
    color: #666;
    text-decoration: none;
}

#the_progress {
    margin-top: 10px;
    margin-bottom: 10px;
    background-color: grey;
}

#the_progress_bar {    
    height: 20px;
    background-color: #FF8000;
}


label {
    font-size: 16px;
    font-weight: lighter;
}

td {    
    padding-bottom: 10px;
    padding-top: 10px;
}

.msg_icon_error {
    width: 64px;
	height: 64px;
	margin: 10px;
    background:url(res:/SETUP/ICON_ERROR) no-repeat;    
}

.msg_icon_critical {
    width: 64px;
	height: 64px;
	margin: 10px;
    background:url(res:/SETUP/ICON_CRITICAL) no-repeat;    
}

.msg_icon_warning {
    width: 64px;
	height: 64px;
	margin: 10px;
    background:url(res:/SETUP/ICON_WARNING) no-repeat;    
}

.msg_icon_question {
    width: 64px;
	height: 64px;
	margin: 10px;
    background:url(res:/SETUP/ICON_QUESTION) no-repeat;    
}