body {
	font-family: Arial;
	background-color: #FFF;
    font-size: 13px;
    font-weight: lighter; 
    border: none;
    margin: 0; 
    overflow: hidden;    
    -ms-user-select: none;  
    -webkit-user-select: none;
    -moz-user-select: -moz-none;
    user-select: none;
}

button {
    background-color: #D3D3D3;
	font-family: Arial;
    font-weight: lighter;
    color: #888;
	text-align: center;
    text-decoration: none;
    border: none;
    padding: 10px 25px 10px 25px;
}

button.default {
    background-color: #FFA600;
    color: #633000;
}

button:hover:enabled {
    background-color: #B2B2B2;
}

button.default:hover:enabled {
    background-color: #FF9000;
}

.msg_box_banner {
    background-color: #FF8600;
	font-family: Arial;
    font-weight: bold;
    font-size: 16px;
    color: #FFF;
	text-align: center;
    vertical-align: central;
    text-decoration: none;
    border: none;
    padding: 10px;
}

.msg_box_message {
    text-align: center;
    vertical-align: central;
    text-decoration: none;
    border: none;
    padding: 10px
}


button:disabled {  
    background-color: #909090;
    color: #666;
    text-decoration: none;
}

#the_progress {
    margin-top: 10px;
    margin-bottom: 10px;
    background-color: #BBB;
}

#the_progress_bar {    
    height: 10px;
    background-color: #FFA000;
}


label {
    font-size: 14px;
    font-weight: lighter;
}

td {   
    
    padding-bottom: 2px;
    padding-top: 2px;
    
}

.msg_icon_error {
    width: 64px;
	height: 64px;
	margin: 10px;
    background:url(res:/SETUP/ICON_ERROR) no-repeat;    
}

.msg_icon_critical {
    width: 64px;
	height: 64px;
	margin: 10px;
    background:url(res:/SETUP/ICON_CRITICAL) no-repeat;    
}

.msg_icon_warning {
    width: 64px;
	height: 64px;
	margin: 10px;
    background:url(res:/SETUP/ICON_WARNING) no-repeat;    
}

.msg_icon_question {
    width: 64px;
	height: 64px;
	margin: 10px;
    background:url(res:/SETUP/ICON_QUESTION) no-repeat;    
}